body {
    background-color: #f2f6f5;
    color: #93b5b3;
    font-size: 1.2em;
}

label {
    font-size: 1.5em;
}

h4 {
    text-align: center;
}

.brand-logo:hover {

    text-decoration: underline;
    text-decoration-color: teal;
}

.nav-wrapper {
    background-color: #63707e;
}

nav ul a:hover,
.brand-logo:hover {
    text-decoration: underline;
    text-decoration-color: teal;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.nomad-description-box {
    display: inline-block;
    max-width: 500px;
    height: 100%;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}

#nomad-text {
    font-weight: bolder;
}

.search-area {
    text-align: center;
    margin: auto;
}

#userCity,
#userState {
    width: 200px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 10px blue;
    margin-right: 5px;
    color: black;
}

.btn {
    padding: 5px;
    outline: none;
    margin: 10px;
}

.btn:hover {
    background-color: #63707e;
    color: white;
}

.add-new-area-div {
    margin: auto;
}

.location-card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-card {
    background-color: #546E7A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #63707e;
    padding: 5px;
    width: 400px;
    height: 100%;
    margin-left: 10px;
    font-size: 1em;
}

.location-card img {
    width: 200px;
    height: 200px;
}

#addNewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#addNewForm input {
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
    text-align: center;
    font-size: .9em;
}