body {
    background-color: #f2f6f5;
    color: #075853;
    font-size: 1.2em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

label {
    font-size: 1.5em;
}

h4 {
    text-align: center;
}

.brand-logo:hover {

    text-decoration: underline;
    text-decoration-color: teal;
}

#logo {
    /* width: ; */
    height: 56px;
}

.nav-wrapper {
    background-color: #63707e;
    height: 70px;
}

nav ul a:hover,
.brand-logo:hover {
    text-decoration: underline;
    text-decoration-color: teal;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.nomad-description-box {
    display: inline-block;
    max-width: 75vw;
    height: 100%;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}

#nomad-text {
    font-weight: bolder;
}

.search-area {
    text-align: center;
    margin: auto;
    max-width: 90vw;
}

.input-field label {
    color: #075853;
    font-size: 1.2em;
}


.btn {
    padding: 5px;
    outline: none;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

#addLocationButton {
    text-align: center;
}

.btn:hover {
    background-color: #63707e;
    color: white;
}

.add-new-area-div {
    margin: auto;
}

.searchOrNotFound {
    text-align: center;
}

.location-card-area { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.location-card {
    background-color: #546E7A;
    color: #f2f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #63707e;
    padding: 5px;
    width: 400px;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 20px;
    text-align: center;
}

.location-card img {
    width: 200px;
    height: 200px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.sidenav {
    background-color: #f2f6f5;
}

footer {
    text-align: center;
    font-size: .9em;
    margin-top: 10px;
}

.page-footer {
    background-color: #64707E;
}