{% extends 'base.html' %}

{% block content %}
         <h1>Add New Location</h1>
         <div class = 'row'> 
            <form @submit.prevent="addLocation" class="col s12">
               {% csrf_token %}
               
               <div class='row'>
                  <div class="input-field col s12">
                     <label class="active" for="businessName">Business Name:</label>
                     <input type="text" v-model="newLocation.businessName" id="businessName">
                  </div>
               </div> 

               <div class='row'>
                  <div class="input-field col s12">
                     <label class="active" for="locationAddress">Address:</label>
                     <input type="text" v-model="newLocation.locationAddress" id="locationAddress">
                  </div> 
               </div>

               <div class='row'>
                  <div class="input-field col s4">
                     <label class="active" for="locationCity">City:</label>
                     <input type="text" :value="newLocation.locationCity" @input="newLocation.locationCity =             $event.target.value.toUpperCase()" id="locationCity">
                  </div> 
               
                  <div class="input-field col s4">
                     <label class="active" for="locationState">State:</label>
                     <input type="text" :value="newLocation.locationState" @input="newLocation.locationState = $event.target.value.toUpperCase()" id="locationState">
                  </div> 
               
                  <div class="input-field col s4">
                     <label class="active" for="locationZipCode">ZipCode:</label>
                     <input type="text" v-model="newLocation.locationZipCode" id="locationZipCode">
                  </div> 
               </div>

               <div class='row'>
                  <div class="input-field col s6">
                     <label class="active" for="phoneNumber">Phone Number (optional):</label>
                     <input type="text" v-model="newLocation.phoneNumber" id="phoneNumber">
                  </div>
               </div> 

               <div class='row'>
                  <div class="input-field col s6">
                     <label class="active" for="websiteUrl">Website (optional):</label>
                     <input type="text" v-model="newLocation.websiteUrl" id="websiteUrl">
                  </div>
               </div> 

                  <button class="btn waves-effect waves-light" type="submit" @click.prevent="addLocation">Submit</button>

               </div> <!-- End Row div -->
            </form>
         </div> <!-- End Row div -->
      </div> <!-- End add-new-area div --> 
{% endblock content %}