{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


  <title>Nomad's Pal</title>
</head>

<body>
  <div id='vue'>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo"><img src="./media/images/assets/Nomads_Pal_Logo2.png" id="logo" class=' responsive-img'></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">How to Become a Digital Nomad</a></li>
            <li><a href="https://www.worldnomads.com/travel-insurance/">Travel Insurance</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">How to Become a Digital Nomad</a></li>
        <li><a href="https://www.worldnomads.com/travel-insurance/">Travel Insurance</a></li>
      </ul>
    </header>
    
    {% block content %}
    {% endblock content %}

    <footer>
      Copyright &copy; 2019 by Jon Bascos<br>
      version 1.0
    </footer>
  </div>
  
  
  <script src='https://unpkg.com/vue'></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src='{% static "js/vuescripts.js" %}'></script>

</body>

</html>