{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Nomad's Pal</title>
</head>

<body>
<div class="main">
  <div id='vue'>

    <!-- Navbar -->
    <app-navbar :addNewLocation="addNewLocation"></app-navbar>

    <!-- Nomad Description -->
    <div class='main-body'>
      <div class='nomad-description-box'>
        <a href="https://en.wikipedia.org/wiki/Digital_nomad" target='_blank'><span id='nomad-text'>Digital
            Nomad:</a></span> Someone who is able to work from anywhere they have an internet connection and usually does so
            while traveling away from their home.
      </div> <!-- End nomad-description-box -->
    </div>


    <!-- Search -->
    <div class='search-area'>
      Looking for a coffee shop or co-working space to work out of in the Portland Metro?
      <div class="row">
        <form @submit.prevent='results' class="col s12">
          {% csrf_token %}
          <div class="row">
            <div class='input-field col s6'>
              <label for='userCity' class="inputlabels">City</label>
              <input id='userCity' type='text' :value="city" @input="city = $event.target.value.toUpperCase()" placeholder="Enter a city">
            </div>

            <div class="input-field col s6">
              <select v-model="state">
                <option value="" disabled selected>Choose State</option>
                <option value="OR">Oregon</option>
                <option value="CA"  disabled>California</option>
                <option value="WA" disabled>Washington</option>
              </select>
              <label>State</label>
            </div>

            <button class="btn waves-effect waves-dark" type="submit" @click.prevent='getLocations'>Submit</button>
          </div> <!-- End row div-->
        </form>
      </div> <!-- End row div -->
    </div> <!-- End search-area div -->

    {% block content %}

    {% endblock content %}

  </div> <!-- End Vue div -->

  <footer class="page-footer">
    <div class="container">
      Copyright &copy; 2019 by <a href="mailto:jon@jonbascos.com">Jon Bascos</a><br>
      version 1.0
    </div>
    
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src='{% static "js/vuescripts.js" %}'></script>
</div>
</body>

</html>