{% extends 'base.html' %}

{% block content %}


      <div id="addLocationButton">
          <button class="btn waves-effect waves-light" @click='addNewLocation = ! addNewLocation'>Add
          Location</button>
      </div> 



    <!-- Search Results Area -->
    
      <app-results :list-data = "resultLocations">
      </app-results>

    
    

    
    <!-- End Search Result Area -->


    <!-- Add New Location Form -->
    <div class='add-new-area-div' v-if="addNewLocation">
      <div class="row">
        <form @submit.prevent='addLocation' id='addNewForm' class="col s12">
        <div class="row">
          <h1>Add New Location</h1>
          {% csrf_token %}
          <div class="input-field col s6">
            <label class='active' for='businessName'>Business Name:</label>
            <input v-model='newLocation.businessName' id='businessName' placeholder="Business Name">
          </div>

          <div class="input-field col s6">
            <label class='active' for='address'>Address:</label>
            <input v-model='newLocation.locationAddress' id='address' placeholder='Address'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='city'>City:</label>
            <input id='city' placeholder='City' :value="newLocation.locationCity"
            @input="newLocation.locationCity = $event.target.value.toUpperCase()">
          </div>

          <div class="input-field col s6">
            <label class='active' for='state'>State:</label>
            <input id='state' placeholder='State: OR' :value="newLocation.locationState"
            @input="newLocation.locationState = $event.target.value.toUpperCase()">
          </div>

          <div class="input-field col s6">
            <label class='active' for='zipcode'>Zipcode/Postal Code:</label>
            <input v-model='newLocation.locationZipCode' id='zipcode' placeholder='Zipcode/Postal Code'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='phoneNumber'>Phone Number <small>Format: 123-456-7890</small>:</label>
            <input v-model='newLocation.phoneNumber' type='tel' id='phoneNumber' placeholder='Phone Number (optional)'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='website'>Website:</label>
            <input v-model='newLocation.websiteUrl' id='website' placeholder='http://www.google.com (optional)'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='storeHours'>Store hours:</label>
            <input v-model='newLocation.storeHours' id='storeHours' placeholder='Store Hours (optional)'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='downloadSpeed'>Download Speed (in Mbps): </label>
            <input v-model='newLocation.downloadSpeed' id='downloadSpeed' placeholder='Download Speed'>
          </div>

          <div class="input-field col s6">
            <label class='active' for='uploadSpeed'>Upload Speed (in Mbps): </label>
            <input v-model='newLocation.uploadSpeed' id='uploadSpeed' placeholder='Upload Speed'>
          </div>

          <button class="btn waves-effect waves-light" type="submit" @click.prevent='addLocation'>Submit</button>
          </div>
        </form>
      </div>

      
    </div> <!-- End Add New Area Div --> 
  </div> <!-- End Vue Div -->

</div> <!-- End of main-body div -->

{% endblock content %}









{% comment %} 
  <div class='location-card-area' v-if="resultLocations.length > 0">
      <ul v-for="location in resultLocations">
        <div class='location-card'>
          <li>
            <h4 class='businessName'>[[ location.businessName ]]</h4>
          </li>
          <li v-if="location.locationPhoto"><img :src=[[location.locationPhoto]] class='locationPhoto'></li>
          <li v-else><img src="https://placeimg.com/200/200/tech"></li>
          <li>Address: [[location.locationAddress]]<br>[[location.locationCity]], [[location.locationState]]
            [[location.locationZipCode]]</li>
          <button @click="details = ! details" class="btn">Details</button>
          <div v-if="details">
            <li>Phone number: [[ location.phoneNumber ]]</li>
            <li><a :href=[[location.websiteUrl]]>[[location.websiteUrl]]</a></li>
            <li>Store Hours: [[location.storeHours]]</li>
            <li v-if=![[location.uploadSpeed]]>Upload: No Information</li>
            <li v-else> Upload: [[location.uploadSpeed]] Mbps</li>
            <li>Download: [[location.downloadSpeed]] Mbps</li>
          </div>
        </div> <!-- End Location Card Div -->
      </ul>
    </div> <!-- End Location Card Area Div -->
    </div> {% endcomment %}



    {% comment %} <div class='add-new-area-div' v-if="addNewLocation">
      <form @submit.prevent='addLocation' id='addNewForm'>
        <h1>Add New Location</h1>
        {% csrf_token %}
        <label class='add_input' for='businessName'>Business Name:</label>
        <input v-model='newLocation.businessName' id='businessName' placeholder='Name of Business'>

        <label class='add_input' for='address'>Address:</label>
        <input v-model='newLocation.locationAddress' id='address' placeholder='Address'>

        <label class='add_input' for='city'>City:</label>
        <input id='city' placeholder='City' :value="newLocation.locationCity"
          @input="newLocation.locationCity = $event.target.value.toUpperCase()">

        <label class='add_input' for='state'>State:</label>
        <input id='state' placeholder='State: OR' :value="newLocation.locationState"
          @input="newLocation.locationState = $event.target.value.toUpperCase()">

        <label class='add_input' for='zipcode'>Zipcode/Postal Code:</label>
        <input v-model='newLocation.locationZipCode' id='zipcode' placeholder='Zipcode/Postal Code'>

        <label class='add_input' for='phoneNumber'>Phone Number:</label>
        <input v-model='newLocation.phoneNumber' id='phoneNumber' placeholder='Phone Number (optional)'>

        <label class='add_input' for='website'>Website:</label>
        <input v-model='newLocation.websiteUrl' id='website' placeholder='http://www.google.com (optional)'>

        <label class='add_input' for='storeHours'>Store hours:</label>
        <input v-model='newLocation.storeHours' id='storeHours' placeholder='Store Hours (optional)'>

        <label class='add_input' for='downloadSpeed'>Download Speed (in Mbps): </label>
        <input v-model='newLocation.downloadSpeed' id='downloadSpeed' placeholder='downloadSpeed'>

        <label class='add_input' for='uploadSpeed'>Upload Speed (in Mbps): </label>
        <input v-model='newLocation.uploadSpeed' id='uploadSpeed' placeholder='uploadSpeed'>

        <button class="btn waves-effect waves-light" type="submit" @click.prevent='addLocation'>Submit</button>
      </form> {% endcomment %}